.buttonActive {
  background-color: green;
  color: white;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.image {
  width: 10%;
  height: auto;
  margin: 0;
}
